@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --header-background-color: hsla(271, 69%, 75%, 0.781);
    --form-border: rgb(9, 216, 119);
    --card-hover: #b5ff98;
    --double-border-color: #4394f0;
    --card-hover-color: #0084ff;
    --body-background-color: blanchedalmond;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: var(--body-background-color);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--header-background-color);
    height: 80px;
}

header p {
    font-size: 40px;
    font-weight: bolder;
}

.newBookBtn {
    height: 40px;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(115, 122, 214);
    cursor: pointer;
    transition: 25ms linear;
}

.newBookBtn:hover {
    scale: 1.05;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: end;
    column-gap: 10px;
    row-gap: 20px;
}

form label {
    padding: 4px;
}

form input {
    justify-self: start;

    border: 0.5px solid var(--form-border);
    border-radius: 5px;
    padding: 4px
}

form input:hover {
    background-color: var(--form-border);
}

form input:active,
form input:focus {
    background-color: rgb(235, 223, 60);
}

.read {
    grid-column: 2 / 3;
    justify-self: start;
    align-content: center;
}

#alreadyRead {
    margin-right: 0;
}

.buttons {
    grid-column: 1 / 3;
    align-content: center;
    justify-self: center;
}

#cancel,
#submit {
    width: 80px;
    background-color: var(--card-hover-color);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 25ms linear;
}

#cancel:hover,
#submit:hover {
    scale: 1.05;
}

#cancel {
    margin-right: 10px;
}

#submit {
    margin-left: 10px;
}

input[type='checkbox'] {
    margin: 0 5px 0 0;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
}

dialog {
    border: none;
    box-shadow: 5px 10px 10px skyblue;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin: 3rem;
}

.card {
    width: 165px;
    height: 165px;
    padding: 10px;
    margin: 2rem;
    border-radius: 12px 0px;
    position: relative;
}

.card:hover {
    background-color: var(--card-hover);
    color:var(--card-hover-color);
}

.card p {
    padding: 0 10px;
}

.card::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    height: 200px;
    width: 200px;
    border: 3px solid var(--double-border-color);
    border-radius: 15px;
    z-index: -1;
}

.card::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    height: 200px;
    width: 200px;
    border: 3px solid var(--double-border-color);
    border-radius: 15px;
    z-index: -1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.operations {
    flex:1;

    display: flex;
    gap: 8px;
    align-items: flex-end;
}

svg {
    width: 23px;
    fill:rgb(248, 61, 217);
    transition: 25ms linear;
}

svg:hover {
    scale: 1.1;
}

.book-read {
    fill:rgb(48, 218, 118);
}

.read-background {
    background-color: var(--header-background-color);
    color: white;
}